
<footer>
  © 2025 – Solo para pruebas; todo mal uso que se le pueda llegar a dar a esta página está fuera de mi alcance
</footer>

<!-- Carga main.js con la lógica de menú, copiar y validaciones -->
<script src="/js/main.js"></script>
</body>
</html>